{% extends "User/Base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        {% comment %} <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
        <div class="media-body">
        {% for ride in rides %}
            <h2 class="account-heading">{{ ride.startingPoint }}-{{ ride.endingPoint }}</h2>
            <p class="text-secondary">{{ ride.createdOn }}</p>
            
            {% comment %} <p class="text-secondary"></p>
            {% if user.driversLicense %}
            <p class="text-secondary"></p>
            {% endif %} {% endcomment %}
            <div class="container">
              <div class="card-columns">
                {% for req in requests %}
                {% if req.rideId_id == ride.id %}
                <div class="card card-inverse" style="border-color: #333;">
                  <div class="card-body">
                    <h3 class="card-title">{{ req.userName }}</h3>
                    <p class="card-text"></p>
                    <form action="/travel/Request-accept/" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary" onclick="/travel/Request-accept/" name='reqId' value="{{ req.id }}">Accept</button>
                    </form>
                    <hr>
                     <form action="/travel/Request-reject/" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary" onclick="/travel/Request-reject/" name='reqId' value="{{ req.id }}">Reject</button>
                    </form>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}