{% extends "User/Base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        {% comment %} <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
        <div class="media-body">
        {% for ride in rides %}
            <h2 class="account-heading">{{ ride.driver }}</h2>
            <p class="text-secondary">{{ ride.createdOn }}</p>
            <p class="text-secondary">{{ ride.startingPoint }}</p>
            <p class="text-secondary">{{ ride.endingPoint }}</p>
            
            {% comment %} <p class="text-secondary">{{  }}</p>
            {% if user.driversLicense %}
            <p class="text-secondary">{{  }}</p>
            {% endif %} {% endcomment %}
        {% endfor %}
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}