{% extends 'User/Base.html' %}
{% block content %}
<h2>Your Requests:</h2>
<hr>
<div class="container">
	
		{% for rides in rider %}
		{% comment %} <div class="card card-inverse" style="border-color: #333;">
			<div class="card-body">
				<h3 class="card-title">{{ rides.rideId }}</h3>
				<p class="card-text">{{ rides.requestStatusID }}</p>
			</div>
		</div> {% endcomment %}
		<br>
			{% if rides.requestStatusID.id == 2 %}
            <div class="card border-success mb-3" style="width: 18rem; border-width: medium;">
			{% else %}
			<div class="card border-warning mb-3" style="width: 18rem; border-width: medium;">
			{% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ rides.rideId }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ ride.driver.driver.userName }}  
			  </h6>
              <p class="card-text"> {{ rides.requestStatusID }} </p>
            </div>
            </div>
		{% endfor %}

</div>
{% endblock %}