{% extends 'User/Base.html' %}

{% block content %}
<h2>
	Abstract
</h2>

<p>
With traffic congestion becoming a major issue in most of our metropolitan cities, people have
tried to come up with various solutions to solve this issue.One such solution was the concept of
carpooling.Not only did it deal with the issue of traffic congestion but it also addressed issues
such as reduction in vehicular pollution and reduction of consumption of precious resources in
general.<br><br>
Our website would provide a platform for users requiring a consistent mode of travel by pairing
them up with other users who are travelling towards the same location and are willing to ride
along with other users.The website will work on a credit model which will serve as currency
on the app.Credits can be accumulated either by converting real money into credits or earning
them by offering rides to others.<br><br>
The user first needs to log in or create a new account if they do not already have an account to
access the website.Depending on whether the user wants to hail a ride or offer a ride,the user
is provided suitable options.<br><br>
If the user wants to hail a ride, they can either browse through the list of rides available which
are currently in progress and search through them to find something suitable to them at a
desired rate or add a new entry for destination and location so that someone who offers a ride
and moving in that direction can accept the request if they wish to do so at a rate they decide.
For the user to be able to offer a ride they first need to verify their vehicle and provide vehicle
number and other important details.They can then go through a list of users who want to hail
a ride and search through them based on starting point and destination with a suitable credit
range or add a new entry with starting and ending point so other users can hail a ride at a
price determined by our user.<br><br>
The user’s profile will include details such as rating which will be an average of the ratings
provided users who have shared a ride with them( two separate ratings ,one for hailing a ride
and the other for offering a ride,will be provided).It will also have the user’s transaction history
and an option to add more credits to their account through real currency.
Through this mini project we hope to provide a platform where the carpooling process can be
made easier and we hope to deploy this as a website.<br><br>
</p>

<h4>
Team:
</h4>
Mudit Singhal - 191CS138<br>
Swapnil Guduru - 191CS160 <br>
Ashutosh Anand - 191CS111 <br>

{% endblock content %}

