{% extends "User/Base.html" %}

{% block main_title %}
	{{ title }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<p>Hi {{ user.userName }}, Welcome to Cabify!</p>
	{% comment %} {% if posts %}
	<h1>Starting point: </h1>
		{% for post in posts %}
			<div class="card card-inverse" style="border-color: #333;">
				<div class="card-body">
					<h3 class="card-title">{{ post.driver }}</h3>
					<p class="card-text">{{ post.concat }}</p>
					<form action="/travel/Request-Ride/" method="POST">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary" onclick="/travel/Request-Ride/" name='rideId' value="{{ ride.id }}">Request</button>
					</form>
				</div>
			</div>
		{% endfor %}
	{% endif %} {% endcomment %}
{% if p or q %}
	<p>Search Results:</p>
{% else %}
	<p>Rides Available:</p>
{% endif %}
<div class="container">
		{% for ride in rides %}
		<div class="row">
		<div class="card card-inverse" style="border-color: #333; min-width: 100%;">
			<div class="card-body">
				<h3 class="card-title">{{ ride.concat }}</h3>
				<p class="card-text">
				Driver: {{ ride.driver }}
				<br>
				Timings: {{ ride.startDate }} - {{ ride.endDate }}
				<br>
				Price: {{ ride.price }}
				</p>
				{% comment %} Add dates to the card {% endcomment %}
				<form action="/travel/Request-Ride/" method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-primary" onclick="/travel/Request-Ride/" name='rideId' value="{{ ride.id }}">Request</button>
				</form>
			</div>
		</div>
		</div>
		<br>
		{% empty %}
		No results are available.
		{% endfor %}
</div>

{% else %}
<p> Hi, Welcome to Cabify! <br>
- Please login/Register to go ahead</p>
{% endif %}
{% endblock %}