{% extends "User/Base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        {% comment %} <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
        <div class="media-body">
          <h3 class="account-heading">User Profile</h6>
          <h4>{{ user.userName }}</h6>
          <p class="text-secondary">Email: {{ user.email }}</p>
          <p class="text-secondary">Name: {{ user.firstName }}</p>
          <p class="text-secondary">MobileNumber: {{ user.mobileNumber }}</p>
          {% comment %} {% if user.driversLicense == True %} {% endcomment %}
          <br>
            <h2>Your Rides as a Driver</h2>
            {% for ride in rides %}
             <br>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"> {{ ride.startingPoint }} - {{ ride.endingPoint }} </h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ ride.startDate }} - {{ ride.endDate }}</h6>
                  <p class="card-text">
                  Passengers: 
                    {% for passenger in Passengers %}
                        {% if passenger.rideId.id == ride.id %}
                          {{ passenger.riderId.userName }}
                        {% endif %}
                    {% endfor %}
                  </p>
                </div>
              </div>
            {% endfor %}
            <br>
            <h2>Your Rides as a Passenger</h2>
            <br>
            <h3>Accepted: </h3>
            {% for ride in userPassengers %}
            <br>
            <div class="card border-success mb-3" style="width: 18rem; border-width: medium;">
            <div class="card-body">
              <h5 class="card-title">{{ ride.startingPoint }} - {{ ride.endingPoint }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ ride.driver.driver.userName }} - {{ ride.driver.driver.mobileNumber }}</h6>
              <p class="card-text">Price {{ ride.price }}</p>
            </div>
            </div>
            {% endfor %} 
            <h3>Pending: </h3>
            {% for ride in userPassengersPend %}
            <br>
            <div class="card border-warning mb-3" style="width: 18rem; border-width: medium;">
            <div class="card-body">
              <h5 class="card-title">{{ ride.startingPoint }} - {{ ride.endingPoint }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ ride.driver.driver.userName }} </h6>
              <p class="card-text">Price {{ ride.price }}</p>
            </div>
            </div>
            {% endfor %} 
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}